html * {
    /* padding & border を幅・高さに含める */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.header-menu {
    background-color: #6b7b6e;
    width: 100%;
    height: 70px;
    text-align: right;
    margin: 0;
}

.menu {
    position: fixed;
    background-color: #6b7b6e;
    opacity: 90%;
    width: 98.56%;
    height: 70px;
    text-align: right;
    z-index: 100;
    margin: 0;
}

.header-container {
    background-color: #6b7b6e;
    width: 100%;
    height: 200px;
}

.header-container p {
    color: #ffffff;
    text-align: left;
    padding: 50px 0 0 100px;
    margin: 0 0;
    line-height: 40px;
    font-size: 25px;
    font-family: "Copperplate";
}


/* ユーザーアイコン */

.user {
    display: inline-block;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    background-color: #d6e9ca;
    width: 1em;
    height: 1em;
    font-size: 42px;
    overflow: hidden;
    cursor: pointer;
    margin: 15px 0 50px -100px;
}

.user::before,
.user::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #6b7b6e;
    opacity: 80%;
    content: "";
}

.user::before {
    top: 0.15em;
    width: 0.4em;
    height: 0.4em;
}

.user::after {
    bottom: -0.4em;
    width: 0.8em;
    height: 0.8em;
}


/* ナビゲーション */

.hamburger {
    display: block;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    background-color: #d6e9ca;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    margin: 2px -5px 10px 0;
}


/* ナビ三本線 */

.hamburger span {
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    left: 8px;
    background: #6b7b6e;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 10px;
}

.hamburger span:nth-child(2) {
    top: 20px;
}

.hamburger span:nth-child(3) {
    top: 30px;
}


/* ナビを開いている状態 */

.hamburger.active span:nth-child(1) {
    top: 20px;
    left: 8px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
    top: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.nav-content {
    position: fixed;
    z-index: 10;
    top: 80px;
    right: -180px;
    color: #ffffff;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    width: 50%;
    height: 100%;
}

.nav-content ul {
    background: #383c3c;
    margin: 0 auto;
    padding: 0;
    width: 50%;
}

.nav-content ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #cee4ae;
}

.nav-content ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.nav-content ul li:hover {
    background: #cee4ae;
}

.nav-content ul li a {
    display: block;
    color: #6b7b6e;
    padding: 1em 0;
    text-decoration: none;
}

/* このクラスを、jQueryで付与・削除する */

.nav-content.active {
    transform: translateX(0%);
}


/* ホーム画面 */

.homeArea {
    position: relative;
    margin: 0;
    height: 500px;
    width: 100%;
    background-color: #6b7b6e;
    display: flex;
    text-align: center;
}


/* ホーム画面の文字 */

.homeArea p {
    position: absolute;
    padding: 100px 10px 100px 10px;
    margin: 1em 1em;
    width: 40%;
    height: 80%;
    border: double 5px #ffffff;
    color: #ffffff;
    font-size: 30px;
    font-family: "Zapfino", cursive;
    display: inline-block;
}

/* メイン画面 */

.main-layer {
    position: relative;
    overflow: hidden;
    min-height: 1250px;
    max-height: 100%;
}

.main-layer-green,
.main-layer-yellow {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
}

.main-layer-green {
    left: 0;
    background-color: #b0ca71;
    z-index: 1;
    -webkit-transform: skewY(28deg) skewX(-28deg) translateX(-100%);
    transform: skewY(28deg) skewX(-28deg) translateX(-100%);
    transition: .5s all ease-in;
}

.main-layer-yellow {
    right: 0;
    height: 140%;
    background: #f8e58c;
    z-index: 2;
    -webkit-transform: skewY(118deg) skewX(24deg) translateX(-100%);
    transform: skewY(118deg) skewX(24deg) translateX(-100%);
    transition: 1s all ease-in;
}

.main-layer-container {
    position: relative;
    z-index: 3;
}

.main-layer-green.is-active {
    -webkit-transform: skewY(28deg) skewX(-28deg) translateX(0);
    transform: skewY(28deg) skewX(-28deg) translateX(0);
}

.main-layer-yellow.is-active {
    -webkit-transform: skewY(118deg) skewX(-28deg) translateX(0);
    transform: skewY(118deg) skewX(-28deg) translateX(0);
}


/* フッター */

footer {
    background-color: #6b7b6e;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 50px;
    margin-top: top;
}

footer p {
    color: black;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.footer-menu {
    margin: 20px 0 12px;
    padding: 0;
}

footer a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: #bee2af;
}