html * {
    /* padding & border を幅・高さに含める */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.header-menu {
    background-color: #6b7b6e;
    width: 100%;
    height: 70px;
    text-align: right;
    margin: 0;
}

.menu {
    position: fixed;
    background-color: #6b7b6e;
    opacity: 90%;
    width: 98.56%;
    height: 70px;
    text-align: right;
    z-index: 100;
    margin: 0;
}

.header-container {
    background-color: #6b7b6e;
    width: 100%;
    height: 200px;
}

.header-container p {
    color: #ffffff;
    text-align: left;
    padding: 50px 0 0 100px;
    margin: 0 0;
    line-height: 40px;
    font-size: 25px;
    font-family: "Copperplate";
}


/* ユーザーアイコン */

.user {
    display: inline-block;
    position: absolute;
    z-index: 30;
    border-radius: 50%;
    background-color: #d6e9ca;
    width: 1em;
    height: 1em;
    font-size: 42px;
    overflow: hidden;
    cursor: pointer;
    margin: 15px 0 50px -100px;
}

.user::before,
.user::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #6b7b6e;
    opacity: 80%;
    content: "";
}

.user::before {
    top: 0.15em;
    width: 0.4em;
    height: 0.4em;
}

.user::after {
    bottom: -0.4em;
    width: 0.8em;
    height: 0.8em;
}

.dropdwn{
	display: flex;
    position: absolute;
    right: 13px;
    top: 12px;
    width: 100px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    margin: 15px 35px 10px 0;
    z-index: 50;
}

.dropdwn ul{
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 200px;
    margin-left: -100px;
    margin-top: 20px;
    color: #6b7b6e;
}
.dropdwn li{
    width: 100%;
    position: relative;
    padding: 0;
    display: block;
    cursor: pointer;
    color: none;
}

.dropdwn li>li{
    width: 125px;
    background: #6b7b6e;
    display: inline;
}

.dropdwn_menu{
    width: 100%;
    display: none;
    position: absolute;
    margin-left: -5px;
    margin-top: 5px;
    padding: 0;
    background: #383c3c;
    opacity: 90%;
}

.dropdwn_menu li{
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #cee4ae;
}

.dropdwn_menu li a{
    padding: 1em 0;
    margin: 0;
    display: block;
    color: #cee4ae;
    text-decoration: none;
}

.dropdwn_menu li a:hover{
    color: #6b7b6e;
    background: #cee4ae;
}

/* ナビゲーション */

.hamburger {
    display: block;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    background-color: #d6e9ca;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    margin: 2px -5px 10px 0;
}


/* ナビ三本線 */

.hamburger span {
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    left: 8px;
    background: #6b7b6e;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 10px;
}

.hamburger span:nth-child(2) {
    top: 20px;
}

.hamburger span:nth-child(3) {
    top: 30px;
}


/* ナビを開いている状態 */

.hamburger.active span:nth-child(1) {
    top: 20px;
    left: 8px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
    top: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.nav-content {
    position: fixed;
    z-index: 10;
    top: 80px;
    right: -180px;
    color: #ffffff;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    width: 50%;
    height: 100%;
}

.nav-content ul {
    background: #383c3c;
    margin: 0 auto;
    padding: 0;
    width: 50%;
}

.nav-content ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #cee4ae;
}

.nav-content ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.nav-content ul li:hover {
    background: #cee4ae;
}

.nav-content ul li a {
    display: block;
    color: #6b7b6e;
    padding: 1em 0;
    text-decoration: none;
}

/* このクラスを、jQueryで付与・削除する */

.nav-content.active {
    transform: translateX(0%);
}



/* ホーム画面 */

.homeArea {
    position: relative;
    margin: 0;
    height: 500px;
    width: 100%;
    background-color: #383c3c;
    display: flex;
    text-align: center;
}


/* ホーム画面の文字 */

.homeArea-box {
    position: absolute;
    margin: 3em 5em;
    width: 450px;
    height: 80%;
    border: double 5px #ffffff;
    display: flex;
    text-align: right;
}

.homeArea p {
    position: absolute;
    padding: 80px 125px;
    color: #ffffff;
    font-size: 30px;
    font-family: "Zapfino", cursive;
    text-align: center;
}

/* メイン画面 */

.main-layer {
    position: relative;
    overflow: hidden;
    min-height: 1250px;
    max-height: 100%;
}

.main-layer-green,
.main-layer-yellow {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
}

.main-layer-green {
    left: 0;
    background-color: #b0ca71;
    z-index: 1;
    -webkit-transform: skewY(28deg) skewX(-28deg) translateX(-100%);
    transform: skewY(28deg) skewX(-28deg) translateX(-100%);
    transition: .5s all ease-in;
}

.main-layer-yellow {
    right: 0;
    height: 140%;
    background: #f8e58c;
    z-index: 2;
    -webkit-transform: skewY(118deg) skewX(24deg) translateX(-100%);
    transform: skewY(118deg) skewX(24deg) translateX(-100%);
    transition: 1s all ease-in;
}

.main-layer-container {
    position: relative;
    z-index: 3;
}

.main-layer-green.is-active {
    -webkit-transform: skewY(28deg) skewX(-28deg) translateX(0);
    transform: skewY(28deg) skewX(-28deg) translateX(0);
}

.main-layer-yellow.is-active {
    -webkit-transform: skewY(118deg) skewX(-28deg) translateX(0);
    transform: skewY(118deg) skewX(-28deg) translateX(0);
}

/* フッター */

footer {
    background-color: #6b7b6e;
    z-index: 50;
}

.inner-block {
    padding: 30px 0;
}

.cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -webkit-flex;
    display: flex;
    padding: 20px 0;
}

.cont-item {
    display: block;
    padding: 0 50px;
    width: calc(100% / 4);
}

.footer-nav a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.footer-nav,
.footer-title {
    display: block;
    margin: 30px 0 6px;
    font-size: 14px;
    color: #ffffff;
}

.footer-nav,
.footer-title:first-child {
    margin-top: 20px;
}

.footer-nav,
.footer-title+.footer-title {
    margin-top: 20px;
}

.footer-nav ul {
    display: block;
    font-size: 14px;
    line-height: 2;
}

.footer-nav li {
    display: block;
    font-size: 14px;
    line-height: 2;
}

.footer-nav li:first-child {
    margin-top: 0;
}